@charset "UTF-8";
@font-face {
    font-family: 'warcraft';
    src: url(fontes/LifeCraft_Font.ttf);
}
@font-face {
    font-family: 'friz';
    src: url(fontes/Friz\ Quadrata\ TT\ Regular.ttf);
}
.root{
    size: 62.5%;
    
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'friz';
}
body{
    background-color: rgb(0, 0, 0);
}
header{
    background-color: rgb(0, 0, 0);
    color: #0D527C;
    max-width: 100%;
    text-align: center;
    padding: 6rem;
    font-size: 4rem;
}
header > h1{
    font-family: 'warcraft', sans-serif;
    -webkit-text-stroke: 0.1px #E5A41D; 
    
}

.mapa{
    height: 35rem;
    background: brown url(imagens/mapa.jpg) center center no-repeat fixed;
    background-size: cover;
}
.cont-container{
    padding: 5rem;
    padding-top: 5rem;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10vw;
    align-items: center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
    
}
.cont-container-dois{
    padding: 5rem;
    padding-top: 5rem;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10rem;
    justify-content: end;
    align-items: center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
    
    
}
.continente{
    font-family: 'warcraft', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    
    -webkit-text-stroke: 0.2px #770008; 
}
.continente-dois{
    font-family: 'warcraft', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    
    -webkit-text-stroke: 0.2px #225D8F; 
}

main > h2{
    font-variant: small-caps;
    
}
.orgrimmar{
    height: 35rem;
    background: brown url(imagens/orgrimmar.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    color: black;
    -webkit-text-stroke: 0.2px #770008; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
    
    
}
.darnassus{
    height: 35rem;
    background: rgba(155, 60, 155, 0.384) url(imagens/darnassus.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    color: black;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
    -webkit-text-stroke: 0.1px #225D8F; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.thunderbluff{
    height: 35rem;
    background: rgba(192, 161, 59, 0.384) url(imagens/thunderbluff.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
    color: black;
    -webkit-text-stroke: 0.2px #770008; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.exodar{
    height: 35rem;
    background: rgba(192, 59, 192, 0.384) url(imagens/exodar.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
    color: black;
    -webkit-text-stroke: 0.2px #225D8F; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.echo{
    height: 35rem;
    background: rgba(192, 139, 39, 0.384) url(imagens/echo.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    color: black;
    -webkit-text-stroke: 0.2px #770008; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.bilgewater{
    height: 35rem;
    background: rgba(226, 86, 52, 0.384) url(imagens/bilgewater.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
    color: black;
    -webkit-text-stroke: 0.2px #770008;  
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.stormwind{
    height: 35rem;
    background: rgba(47, 108, 201, 0.384) url(imagens/stormwind.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    color: black;
    -webkit-text-stroke: 0.2px #225D8F; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.undercity{
    height: 35rem;
    background: rgba(65, 182, 36, 0.384) url(imagens/undercity.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    color: black;
    -webkit-text-stroke: 0.2px #770008;  
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.ironforge{
    height: 35rem;
    background: rgba(241, 142, 50, 0.384) url(imagens/ironforge.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
    color: black;
    -webkit-text-stroke: 0.2px #225D8F;  
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.silvermoon{
    height: 35rem;
    background: rgba(236, 66, 137, 0.384) url(imagens/silvermoon.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    color: black;
    -webkit-text-stroke: 0.2px #770008; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.gilneas{
    height: 35rem;
    background: rgba(175, 159, 175, 0.384) url(imagens/gilneas.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    color: black;
    -webkit-text-stroke: 0.2px #225D8F; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.acherus{
    height: 35rem;
    background: rgba(32, 29, 32, 0.384) url(imagens/aquerus.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    color: black;
    -webkit-text-stroke: 0.2px white; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}
.gnomeregan{
    height: 35rem;
    background: rgba(236, 235, 236, 0.384) url(imagens/gnomeregan.jpg) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-items: center;
    color: black;
    -webkit-text-stroke: 0.2px #225D8F; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
    
}
.capitais{
    font-family: 'warcraft', sans-serif;
    font-size: 5rem;
    
}
.texto{
    background-color: white;
    text-align:start;
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    font-size: 2.3vw;
    column-gap: 2.8rem;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.541);
    

}
footer{
    text-align: center;
    color: white;
    
}
footer > p > a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: #225D8f;
}
